{% extends 'hospital_base.html' %}
{% load static %}

{% block title %}Manage Ambulance | Smart Health Emergency Assistant{% endblock %}

{% block content %}
<section class="home">
    <div class="text">Manage Ambulance</div>
    <div class="dashboard-container">
        <div class="dashboard-section">
            <h2>Ambulance Driver Details</h2>
            <div class="details">
                <p><strong>First Name:</strong> Ram</p>
                <p><strong>Last Name:</strong> Hari Sapkota</p>
                <p><strong>Phone No:</strong> <a href="tel:+9811111111">9811111111</a></p>
                <p><strong>Email:</strong> <a href="mailto:yunishachaulagai01@gmail.com">yunishachaulagai01@gmail.com</a></p>
                <p><strong>License Number:</strong> R-11111</p>
                <p><strong>Hospital:</strong> Patan Mental Hospital</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
